Repository near/near-wallet, pull requests merged in 2020-09, with the labels that each got.

#865 clean up checking multisig min amount
  src/actions/account.js
  src/components/accounts/SetupSeedPhrase.js
  src/components/accounts/recovery_setup/SetupRecoveryMethod.js
  src/components/profile/Profile.js
  src/components/profile/two_factor/TwoFactorAuth.js
  src/reducers/account/index.js
  src/translations/en.global.json
  src/utils/twoFactor.js
  src/utils/wallet.js
Labels: Translation, 🛠 Needs Design

#872 Prompt user to re-connect Ledger
  src/actions/account.js
  src/components/profile/Recovery/RecoveryContainer.js
  src/components/profile/hardware_devices/HardwareDevices.js
  src/reducers/ledger/index.js
  src/translations/en.global.json
  src/utils/wallet.js
Labels: Translation

#877 New translations and fix
  src/components/accounts/EnterVerificationCode.js
  src/components/navigation/DesktopContainer.js
  src/components/navigation/MobileContainer.js
  src/translations/en.global.json
  src/translations/ru.global.json
  src/translations/zh-hans.global.json
  src/translations/zh-hant.global.json
Labels: ✨ Enhancement, 🐞 Bug

#886 Create account: handle invalid NEAR drop
  src/actions/account.js
  src/components/accounts/CreateAccount.js
  src/components/svg/BrokenLinkIcon.js
  src/translations/en.global.json
  src/utils/wallet.js
Labels: Translation
