Repository near/near-wallet, pull requests merged in 2020-10, with the labels that each got.

#961 Update Chinese translations
  src/translations/zh-hans.global.json
  src/translations/zh-hant.global.json
Labels: Translation

#1004 Update Staking translations
  src/translations/zh-hans.global.json
  src/translations/zh-hant.global.json
Labels: Translation

#1041 Enable partial unstake
  src/components/common/Balance.js
  src/components/staking/StakingContainer.js
  src/components/staking/components/AmountInput.js
  src/components/staking/components/Stake.js
  src/components/staking/components/StakeConfirmModal.js
  src/components/staking/components/StakingAction.js
  src/components/staking/components/Validator.js
  src/components/staking/components/ValidatorBox.js
  src/translations/en.global.json
  src/translations/ru.global.json
  src/translations/zh-hans.global.json
  src/translations/zh-hant.global.json
  src/utils/staking.js
Labels: 🌎 Translation, 📈 Enhancement

#1077 Add Storybook for isolated component development
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/common/Button.js
  src/stories/Button.stories.mdx
  src/stories/Introduction.stories.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/docsSpacer.js
  yarn.lock
Labels: 📈 Enhancement

#1096 Update Chinese
  src/translations/zh-hans.global.json
  src/translations/zh-hant.global.json
Labels: 🌎 Translation
