Repository near/near-wallet, pull requests merged in 2021-08, with the labels that each got.

#2018 Update Chinese translations #1973
  src/translations/zh-hans.global.json
  src/translations/zh-hant.global.json
Labels: 🌎 Translation

#2039 Recent activity: Adjust timestamp abbreviations
  packages/frontend/src/components/wallet/ActivityBox.js
Labels: 📈 Enhancement

#2038 Auto Import w/ QR Code (Mobile)
  packages/frontend/src/actions/account.js
  packages/frontend/src/actions/status.js
  packages/frontend/src/components/GlobalStyle.js
  packages/frontend/src/components/Routing.js
  packages/frontend/src/components/accounts/CreateAccount.js
  packages/frontend/src/components/accounts/RecoverAccount.js
  packages/frontend/src/components/accounts/RecoverAccountWrapper.js
  packages/frontend/src/components/accounts/RecoverWithLink.js
  packages/frontend/src/components/accounts/SetupSeedPhrase.js
  packages/frontend/src/components/accounts/auto_import/AutoImport.js
  packages/frontend/src/components/accounts/auto_import/AutoImportWrapper.js
  packages/frontend/src/components/login/LoginForm.js
  packages/frontend/src/components/navigation/UserAccounts.js
  packages/frontend/src/components/profile/Profile.js
  packages/frontend/src/components/profile/mobile_sharing/MobileSharing.js
  packages/frontend/src/components/profile/mobile_sharing/MobileSharingModal.js
  packages/frontend/src/components/profile/mobile_sharing/MobileSharingQRCode.js
  packages/frontend/src/components/profile/mobile_sharing/MobileSharingWrapper.js
  packages/frontend/src/components/receive-money/ReceiveMoney.js
  packages/frontend/src/components/send/SendContainerWrapper.js
  packages/frontend/src/components/svg/AlertTriangleIcon.js
  packages/frontend/src/components/svg/EyeIcon.js
  packages/frontend/src/components/svg/QRCodeIcon.js
  packages/frontend/src/components/svg/SmartPhoneIcon.js
  packages/frontend/src/reducers/status/index.js
  packages/frontend/src/translations/en.global.json
  packages/frontend/src/translations/pt.global.json
  packages/frontend/src/translations/ru.global.json
  packages/frontend/src/translations/vi.global.json
  packages/frontend/src/translations/zh-hans.global.json
  packages/frontend/src/translations/zh-hant.global.json
  packages/frontend/src/utils/wallet.js
Labels: 🗺 User Journey: Account & Key Mgmt

#2040 Ledger confirm TX message: Instruct user to confirm TX details on Ledger
  packages/frontend/src/reducers/ledger/index.js
  packages/frontend/src/translations/en.global.json
Labels: Bug
